In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [0]:
dataset=pd.read_csv("Heart.csv")

In [38]:
dataset.head()

   age  sex  cp trestbps chol fbs  ... exang oldpeak slope  ca thal num
0   28    1   2      130  132   0  ...     0     0.0     ?   ?    ?          0
1   29    1   2      120  243   0  ...     0     0.0     ?   ?    ?          0
2   29    1   2      140    ?   0  ...     0     0.0     ?   ?    ?          0
3   30    0   1      170  237   0  ...     0     0.0     ?   ?    6          0
4   31    0   2      100  219   0  ...     0     0.0     ?   ?    ?          0

[5 rows x 14 columns]

In [39]:
dataset.isnull().sum()

age           0
sex           0
cp            0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
num           0
dtype: int64

In [40]:
dataset[dataset=='?'].count()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64

In [0]:
dataset=dataset.replace('?',0)

In [42]:
dataset.head()

   age  sex  cp trestbps chol fbs  ... exang oldpeak slope  ca thal num
0   28    1   2      130  132   0  ...     0     0.0     0   0    0          0
1   29    1   2      120  243   0  ...     0     0.0     0   0    0          0
2   29    1   2      140    0   0  ...     0     0.0     0   0    0          0
3   30    0   1      170  237   0  ...     0     0.0     0   0    6          0
4   31    0   2      100  219   0  ...     0     0.0     0   0    0          0

[5 rows x 14 columns]

In [0]:
X=dataset.iloc[:,0:13]

In [0]:
y=dataset.iloc[:,13]

In [45]:
y

0      0
1      0
2      0
3      0
4      0
      ..
289    1
290    1
291    1
292    1
293    1
Name: num       , Length: 294, dtype: int64

In [46]:
X

     age  sex  cp trestbps chol fbs  ... thalach exang oldpeak  slope ca thal
0     28    1   2      130  132   0  ...     185     0     0.0      0  0    0
1     29    1   2      120  243   0  ...     160     0     0.0      0  0    0
2     29    1   2      140    0   0  ...     170     0     0.0      0  0    0
3     30    0   1      170  237   0  ...     170     0     0.0      0  0    6
4     31    0   2      100  219   0  ...     150     0     0.0      0  0    0
..   ...  ...  ..      ...  ...  ..  ...     ...   ...     ...    ... ..  ...
289   52    1   4      160  331   0  ...      94     1     2.5      0  0    0
290   54    0   3      130  294   0  ...     100     1     0.0      2  0    0
291   56    1   4      155  342   1  ...     150     1     3.0      2  0    0
292   58    0   2      180  393   0  ...     110     1     1.0      2  0    7
293   65    1   4      130  275   0  ...     115     1     1.0      2  0    0

[294 rows x 13 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

Logistic Regression

In [0]:
lr=LogisticRegression()

In [50]:
lr.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
y_pred=lr.predict(X_test)

In [0]:
Conf=confusion_matrix(y_test,y_pred)

In [53]:
Conf

array([[55,  7],
       [ 5, 22]])

In [0]:
from sklearn.metrics import accuracy_score

In [55]:
accuracy_score(y_test,y_pred)

0.8651685393258427

K Nearest Neighbors

In [0]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=3)
KNN.fit(X_train, y_train)
Pred_KNN = KNN.predict(X_test)

In [75]:
accuracy_score(y_test, Pred_KNN)

0.6271186440677966

Gaussian NB

In [0]:
from sklearn.naive_bayes import GaussianNB
Gb = GaussianNB()
pred_gb = Gb.fit(X_train, y_train)
pred= Gb.predict(X_test)

In [77]:
accuracy_score(y_test, pred, normalize = True)

0.8135593220338984

Linear SVC

In [79]:
from sklearn.svm import LinearSVC
svc = LinearSVC(random_state=0)
pred_svc = svc.fit(X_train, y_train)
pred=pred_svc.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [80]:
accuracy_score(y_test, pred, normalize = True)

0.559322033898305